<div
  class="w-2/3 m-auto shadow-xl rounded-md my-14 dark:bg-zinc-700 dark:border-b"
>
  <div class="mb-6 bg-neutral-800 text-gray-200 rounded-md py-4 dark:mb-5">
    <h2 class="text-3xl font-bold text-center uppercase">Add User Form</h2>
  </div>
  <form [formGroup]="validationForm" class="py-8 px-[10%] dark:text-gray-200">
    <div class="">
      <label for="name" class="font-bold block text-lg mb-2">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        class="shadow text-gray-600 text-base font-medium rounded focus:outline-none w-full px-3 py-2 mb-4"
        formControlName="name"
        placeholder="John Doe..."
        [ngStyle]="{
          outlineColor:
            !validName && validationForm.controls['name'].value
              ? '#f87171'
              : validationForm.controls['name'].value
              ? '#4ade80'
              : '',
          'outline-offset':
            !validName && validationForm.controls['name'].value ? '0px' : '0px'
        }"
      />
      <p
        *ngIf="!validName && validationForm.controls['name'].value"
        class="text-red-500"
      >
        You must enter a name at least 4 characters.
      </p>
    </div>
    <div
      class="flex justify-between gap-10 border-b-2 border-b-rose-200 mb-8 pb-6"
    >
      <div class="w-1/2">
        <label for="email" class="font-bold block text-lg mb-2">E-mail</label>
        <input
          type="text"
          name="email"
          id="email"
          class="shadow text-gray-600 text-base font-medium rounded focus:outline-none w-full px-3 py-2 mb-4"
          formControlName="email"
          placeholder="johndoe@gmail.com"
          [ngStyle]="{
            outlineColor:
              !validEmail && validationForm.controls['email'].value
                ? '#f87171'
                : validationForm.controls['email'].value
                ? '#4ade80'
                : '',
            'outline-offset':
              !validEmail && validationForm.controls['email'].value
                ? '0px'
                : '0px'
          }"
        />
        <p
          *ngIf="!validEmail && validationForm.controls['email'].value"
          class="text-red-500"
        >
          Please enter a valid email.
        </p>
      </div>
      <div class="w-1/2">
        <label for="age" class="font-bold block text-lg mb-2">Age</label>
        <input
          type="number"
          name="age"
          id="age"
          class="shadow text-gray-600 text-base font-medium rounded focus:outline-none w-full px-3 py-2 mb-4"
          formControlName="age"
          placeholder="your age..."
          [ngStyle]="{
            outlineColor:
              !validAge && validationForm.controls['age'].value
                ? '#f87171'
                : validationForm.controls['age'].value
                ? '#4ade80'
                : '',
            'outline-offset': '0px'
          }"
        />
        <p
          *ngIf="!validAge && validationForm.controls['age'].value"
          class="text-red-500"
        >
          Age must be between 20 and 40.
        </p>
      </div>
    </div>
    <h2 class="font-bold block text-lg mb-2">Address</h2>
    <div
      class="flex justify-between gap-10 border-b-2 border-b-sky-200 mb-8 pb-6"
    >
      <input
        type="text"
        name="city"
        id="city"
        class="shadow text-gray-600 text-base font-medium rounded focus:outline-none w-full px-3 py-2 mb-4"
        formControlName="city"
        placeholder="City.."
      />
      <input
        type="number"
        name="blockNo"
        id="blockNo"
        class="shadow text-gray-600 text-base font-medium rounded focus:outline-none w-full px-3 py-2 mb-4"
        formControlName="blockNo"
        placeholder="Block Number..."
      />
    </div>
    <div class="">
      <label for="phone" class="font-bold block text-lg mb-3">Phone</label>
      <input
        type="text"
        name="phone"
        id="phone"
        class="shadow text-gray-600 text-base font-medium rounded focus:outline-none w-full px-3 py-2 mb-4"
        formControlName="phone"
        placeholder="+20 123456"
      />
    </div>
    <div class="text-center mt-10 mb-6 shadow-lg">
      <button
        (click)="addUser()"
        routerLink="/"
        [disabled]="!validName || !validEmail || !validAge"
        class="bg-sky-400 py-2 w-full text-white rounded hover:bg-sky-500 transition-all font-bold text-xl disabled:bg-sky-300"
      >
        {{ user ? "Update User" : "Add User" }}
      </button>
    </div>
  </form>
</div>
