<div class="flex justify-between items-center px-[12%] bg-rose-500 h-20 w-full">
  <h1 class="text-3xl text-white font-bold">Angular Users</h1>
  <ul class="flex gap-8">
    <li>
      <a
        routerLink="/"
        class="bg-gray-700 rounded py-2 px-5 font-bold hover:bg-gray-900 transition-all text-white"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/add-user"
        class="bg-gray-700 rounded py-2 px-5 font-bold hover:bg-gray-900 transition-all text-white"
        >Add User</a
      >
    </li>
  </ul>
</div>
